.container {
    top:0;
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    background-size:cover;
    z-index:9999
}
.loader{
    text-align: center;
}
.loader span {
    display: inline-block;
    margin: -280px 40px 54px -34px;
    background : url("money.jpg");
    background-size: contain;
    animation: loader 10s infinite linear;
}
.loader span:nth-child(5n+5) {
    animation-delay: 1.3s;
}
.loader span:nth-child(3n+2) {
    animation-delay: 1.5s;
}
.loader span:nth-child(2n+5) {
    animation-delay: 1.7s;
}
.loader span:nth-child(3n+10) {
    animation-delay: 2.7s;
}
.loader span:nth-child(7n+2) {
    animation-delay: 3.5s;
}
.loader span:nth-child(4n+5) {
    animation-delay: 5.5s;
}
.loader span:nth-child(3n+7) {
    animation-delay: 8s;
}

@keyframes loader{
0% {
    width:80px;
    height:80px;
    opacity: 1;
    transform: translate(0,0)
    rotateZ(0deg)
}
75% {
    width:80px;
    height:80px;
    opacity: 1;
    transform: translate(100px,600px)
    rotateZ(270deg)
}
100% {
    width:80px;
    height:80px;
    opacity: 1;
    transform: translate(150px,800px)
    rotateZ(360deg)
}
}
@media (max-width:480px) {
    body {
        background-size: contain;
    }
    .question--div {
        height:50%;
        padding:200px 0;
    }
    .answer-div-entire {
        height:30%;
    }
    .answer-div1{
        height:50px;
        font-size:10px;
    }
    .answer-div-half {
        margin:0;
        padding:0;
    }
    .leave {
        width:100%;
        margin:0;
        padding:0;
    }
    .entire--body {
        width:100%;
        height:auto;
    }
    .audience--pic {
        left:60%;
        width: 200px;
        height:200px;
        z-index: 999;
    }
    .phone--friend {
        left:60%;
        width:250px;
        height:250px;
        padding:10px;
        margin:0;
        text-align: left;
    }
    .phone--friend img {
        position: absolute;
        right:0;
    }
    .nextgame, .endgame {
        width:80%;
        top:70%;
    }
    .nextgame img, .endgame img{
        position:absolute;
        top:30px;
        right:0;
    }
    .endgame img{
        position:absolute;
        right:40px;
    }
    .round-div {
        padding:0;
        
    }
    .half-option{
        color:white;
        font-size:10px;
    }
    .play{
        position: absolute;
        bottom:30%;
        left:40%;
        height:50px;
        width:100px;
    }
    .controls h1{
        font-size:1rem;
        margin-top: 100px;
        background:white;
    }
    
}