.container {
    top:0;
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    background-size:cover;
    z-index:9999
}
.loader{
    text-align: center;
}
.loader span {
    display: inline-block;
    margin: -280px 40px 54px -34px;
    background : url("money.jpg");
    background-size: contain;
    animation: loader 10s infinite linear;
}
.loader span:nth-child(5n+5) {
    animation-delay: 1.3s;
}
.loader span:nth-child(3n+2) {
    animation-delay: 1.5s;
}
.loader span:nth-child(2n+5) {
    animation-delay: 1.7s;
}
.loader span:nth-child(3n+10) {
    animation-delay: 2.7s;
}
.loader span:nth-child(7n+2) {
    animation-delay: 3.5s;
}
.loader span:nth-child(4n+5) {
    animation-delay: 5.5s;
}
.loader span:nth-child(3n+7) {
    animation-delay: 8s;
}

@keyframes loader{
0% {
    width:80px;
    height:80px;
    opacity: 1;
    transform: translate(0,0)
    rotateZ(0deg)
}
75% {
    width:80px;
    height:80px;
    opacity: 1;
    transform: translate(100px,600px)
    rotateZ(270deg)
}
100% {
    width:80px;
    height:80px;
    opacity: 1;
    transform: translate(150px,800px)
    rotateZ(360deg)
}
}