/* LAYOUTS */
* {
    margin:0;
    padding:0;
    box-sizing:0;
    font-family:'Shippori Mincho B1';
}
body {
    background-image: url("millo2.jpg");
    max-width:100%;
    height:auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center center; 
    /* overflow: hidden; */
}

.entire--body {
    height:600px;
    width:95%;
    display:flex;
    background:black;
    margin:10px auto;
    border:1px solid white;
}
.play-mode {
    display:flex;
    flex-direction:column;
    flex:3;
    width:100%;
    font-family:'Shippori Mincho B1';
}
.score-mode {
    display:flex;
    flex-direction: column;
    border: 1px solid white;
    flex:1;
    width:100%;
    position:relative;

}
.question--div {
    width:100%;
    height:50%;
    padding: 100px 0;
    color:white;
    font-size:2rem;
    text-align:center;
    background-image: url("gameplay2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center center;
}
.answer-div-entire{
    width:100%;
    height:100%;
    border: 1px solid white;
    display:flex;
    flex-direction: column;
    font-family:'Shippori Mincho B1';
}
.answer-div-half {
    width:100%;
    height:50%;
    display:flex;
    margin:10px auto;
    border-radius:20px;  
}
.answer-div1 {
    border: 1px solid white;
    flex:1;
    padding-top:20px;
    border-radius: 50px;
    color:white;
    font-family: sans-serif;
    text-align:center;
    font-family:'Shippori Mincho B1';
}
.score-board{
    width:100%;
    height: 60%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    background:grey;
    padding:0;
    margin:0;
}

/* BUTTONS */
.next, .again {
    background:wheat;
    border:none;
    height:80px;
    width:180px;
    border-radius:30px;
    z-index: 999;
}
.play{
    background:white;
    border:none;
    height:80px;
    width:180px;
    border-radius:30px;
    /* position:absolute;
    :100%;
    left:45%; */
    position: absolute;
    top:50%;
    left:45%;
    z-index:9999999;
}
.answer-div1:hover,.round-div:hover, .play:hover, .next:hover, .again:hover, .final--yes:hover, .final--no:hover, .leave:hover{
    background: rgb(255, 102,152);
    cursor:pointer;
}
.hidden{
    display:none;
}
.key-buttons {
    display:flex;
    justify-content: space-around;
    height:30%;
}
.round-div {
    width:33%;
    height:120px;
    border-radius:50%;
    border:none;
    background:grey;
    margin:30px 0;
    padding:5px 5px 10px 5px;
    color:white;
    font-size:0.5rem;
}

.leave {
    width:50%;
    height:9%;
    border-radius: 5px;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
}
.score-board button {
    display:block;
    width:100%;
    margin:5px 0;
    height:40px;
    border:none;
    display:flex;
    justify-content: space-evenly;
}

/* MODAL WINDOWS */
.overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.endgame, .phone--friend {
    position: absolute;
    top: 30%;
    left: 50%;
    color:white;
    font-size:bold;
    margin:0 auto;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: gray;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
}
.endgame{
    background:linear-gradient(135deg, red, white);
}
.modal {
    position: absolute;
    top: 30%;
    left: 50%;
    color:white;
    font-size:bold;
    margin:0 auto;
    transform: translate(-50%, -50%);
    width: 50%;
    background:chocolate;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;;
}
.final--yes, .final--no {
    border:none;
    width:100px;
    height:40px;
    border-radius: 5px;
}
.nextgame{
    position: absolute;
    top: 30%;
    left: 50%;
    color:white;
    font-size: bold;
    margin:0 auto;
    transform: translate(-50%, -50%);
    width: 50%;
    background:lightgreen;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index:10;
    text-align: center;
}
.controls {
    z-index: 999999999999;
    width:100%;
    color:darkslateblue;
    height:100%; 
    /* position: absolute;
    bottom:0;
    left:0; */
    border:1px solid green;
    
}
.controls h1 {
    text-shadow: 10px 5px 5px grey;
    font-size:2.2rem;
    text-align:center;
    margin-top: 100px;
    background:white;
}



/* IMAGES */
.score-board button img {
    width:30px;
    height:20px;
    /* position:absolute;
    top:0;
    right:20px; */
}
.leave img {
    width:40px;
    height:40px;
}
.nextgame img{
    position:absolute;
    top:30px;
    right:40px;
}
.audience--pic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin:0 auto;
    transform: translate(-50%, -50%);
    width: 600px;
    height:600px;
    z-index: 999;
}
.money-hover {
    background:chocolate;
}





